:root {
    --text: #1A1110;
    --primaryColor: #e2c7aa;
    --secondaryColor: #f8f0e5;
    --background: #8f857b;
    --accent: #956b4b;
    --borderStyle: .5em solid;
    --hrColor: #956b4b;
    --link: #335C67;
    --visited: #1A1110;
    --hover: #5ca5b9;
    --active: #ffffff;
    --reverseText: #ffffff;
}